html, body, title, h1, h2, h3, nav, ol, ul, li, a, p {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: Arial, sans-serif;
}
body {
    text-align: center;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2px;
}
p {
    font-size: 12px;
}
.nav h3 {
    display: inline;
    color: #ffffff;
    padding: 10px 10px;
    margin-right: 20px;
}
.nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 5px;
    border: 3px solid #0000ff;
    background-color: #0000ff;
    width: 100%;
    justify-content: right;
    
}
.nav h3:first-child {
    display: flex;
    margin-right: auto;
    margin-left: 10px;
}
.poem {
    display: flex;
    padding: 10px 10px;
    border: 2px solid #22aaff;
    border-radius: 2px 15px;
    width: 200px;
    margin: 20px 10px;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: column nowrap;
    text-align: left;
}
.container {
    display: flex;
    margin: 60px 15px;
    justify-content: center;
    flex-wrap: wrap;
}
.button {
    display: flex;
    padding: 5px 50px;
    background-color: #ee0044;
    border: 2px solid #bb0066;
    border-radius: 5px;
    margin: 0 auto;
}